%div
  = #"#{@bid_rooms[0].inspect}"
  = form_tag('/home/step2proc') do
    = hidden_field_tag('bid_id',@bid.id) 
    %h2= "Add rooms for #{@bid.property.address} #{@bid.property.city}"
    - @rooms.each do |room|
      - num_rooms=0
      - if @bid_rooms.size > 0
        - @bid_rooms.each {|br| num_rooms = br.num_rooms if br.room_id == room.id }
      - else
        - case room.name
          - when /Master Bedroom|Master Bathroom|Living Room|^Kitchen$|Dining Area/
            - num_rooms=1
          - when /^Bathroom$/
            - num_rooms=2
      - logger.info("num_rooms is 0 for testing")
      - #num_rooms=0 # for testing only
  
      =text_field_tag "rooms[#{room.id}]", num_rooms, {:size => 3}

      = room.name
      %br
    =submit_tag "Next >" 
