%table
  - @bid_rooms.each do |br|
    - cnt=1
    - while cnt <= br.num_rooms
      %tr
        %th
          - if br.num_rooms > 1
            ="#{br.room.name} #{cnt}"
          - else
            ="#{br.room.name}"
        %th
          Quantity
        %th
          Unit Rental Per Month
        %th
          Total Rental Per Month
      - bri = BidRoomItem.find_all_by_bid_room_id(br.id)
      - bri.each do |ri|
        %tr
          %td
            = "#{ri.item.name}"
          %td
            = "#{ri.item_qty}"
          %td
            = "#{ri.rental_price}"
          %td
            = "#{ri.item_qty * ri.rental_price}"
      - cnt += 1

